<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Systems</title>
</head>
<body>
    <p>Choose the systems: </p>
    <form action="/add_a_system" method="post" name="Systems">
        <div>
            <label for="GoogleAnalytic">Google Analytic</label>
            <input type="checkbox" name="Box" value="ga"  id="GoogleAnalytics">
        </div>
        <div>
            <label for="SearchConsole">Search Console</label>
            <input type="checkbox" name="Box" value="sc" id="SearchConsole">
        </div>
        <div>
            <label for="YoutubeAnalytics">Youtube Analytics</label>
            <input type="checkbox" name="Box" value="yt" id="YoutubeAnalytics">
        </div>
    <input type="submit" value="Connect">
    </form>
</body>
</html>