<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Melytix</title>
</head>
<body>

	<canvas id="sessionChart" ></canvas>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script> <!-- Используем библиотеку chart.js для отрисовки графиков для дешбоарда -->
	<script src="/static/js/DashBoard.js"></script>
	<script>
		chartid = "sessionChart";
		lebel = {{ metrics['ga_dates']|safe }};
		dates = '{{ "sessions " + metrics['ga_dates'][0] + " - " + metrics['ga_dates'][-1] }}';
		data = {{ metrics['sessions'] }};
	</script>
</body>
</html>